.CountdownTimer{
    display: flex;
    height: 300px;
    width: 300px;
    background-color: #151826;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #151515;
    height: 190px;
    width: 190px;
    margin: auto;
    border-radius: 100%;
    border: 4px solid greenyellow;
    color: greenyellow;
}

.clock {
    display: flex;
    font-size: 160%;
}

.label {
    display: flex;
}

hr {
    display: flex;
    margin: 10px 0px;
    background-color: greenyellow;
    border: solid 1px greenyellow;
}

p{
    margin: 0px;
    line-height: 1;
}

sup {
    font-size: 40%;
}
sub {
    font-size: 40%;
}